
:root{
    --primary-color: #414042;
    --secondary-color: #E9DFB8;
    --background-color: #FFFFFF;
    --font-anton: 'Anton', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--background-color);

        .menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 10px 20px;
            background-color: var(--primary-color);
            font-family: var(--font-anton);

            .logotipo{
                height: 40px;
            }

            .reservar{
                padding: 5px 10px;
                text-decoration: none;
                font-size: 15px;
                color: var(--secondary-color);
                border: 1px solid var(--secondary-color);
                letter-spacing: 4px;
                border-radius: 20px;
                transition: filter 0.3s, transform 0.3s;

                &:hover{
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                    font-weight: bold;
                    transform: scale(1.05);
                }
            }
        }
    }
    main{
        section{
            max-width: 100%;
            min-height: 100vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            background-color: var(--secondary-color);

            img{
                justify-self: center;
                width: auto;
                height: 580px;
                rotate: 90deg;
                border-radius: 20px;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 20px;

                h1{
                    font-family: var(--font-anton);
                    font-size: 60px;
                    color: var(--primary-color);
                    margin-bottom: 20px;
                }

                p{
                    font-family: var(--font-montserrat);
                    font-size: 20px;
                    color: var(--primary-color);
                    margin-bottom: 20px;
                }

                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: var(--secondary-color);
                    background-color: var(--primary-color);
                    padding: 10px 20px;
                    border-radius: 20px;
                    transition: filter 0.3s, transform 0.3s;

                    &:hover{
                        font-weight: bold;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}