
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: wheat;

    header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(240, 207, 168);

        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 0 20px;

            .logo{
                height: 40px;

                &:hover{
                    filter: drop-shadow( 0 5px 10px rgba(255, 0, 200, 0.774));
                    transition: all 1s ease-in-out;

                }
            }

            a{
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: center;
                cursor: pointer;
                padding: 0 10px;
                text-decoration: none;
                background-color: #ffffff; 
                border-radius: 20px;
                transition: filter 0.3s, transform 0.3s;

                .isotipo{
                    height: 40px;
                }


                &:hover{
                    span, .isotipo{
                        filter: brightness(0.1);
                        transform: scale(1.05);
                    }
                    filter: brightness(1.2);
                        transform: scale(1.05);
                }

            }
        }
    }
}