
:root{
    --primary-color: #414042;
    --secondary-color: #E9DFB8;
    --font-anton: 'Anton', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

body.dark-theme{
    --primary-color: #130d06;
    --secondary-color: #9c6b49;

    
    #reserve{
        .reserve-form{
            input{
                background-color: #c29575;
            }
        }
    }
}

body{
    background-color: var(--primary-color);
    font-family: var(--font-montserrat);
    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        border-bottom: 3px solid var(--secondary-color);
        background-color: var(--primary-color);
        z-index: 1;

        .menu{
            display: flex;
            justify-content: space-between;
            place-items: center;
            font-family: var(--font-anton);
            margin: 0 20px;

            .logo{
                height: 40px;
            }

            .menu-toggle {
                display: none;
                font-size: 28px;
                background: none;
                border: none;
                color: var(--secondary-color);
                cursor: pointer;
            }

            .menu-buttons {
                display: flex;
                align-items: center;
                gap: 15px;

                .btn-reserve{
                    padding: 5px 10px;
                    text-decoration: none;
                    font-size: 15px;
                    color: var(--secondary-color);
                    border: 1px solid var(--secondary-color);
                    letter-spacing: 4px;
                    border-radius: 20px;
                    transition: 0.3s;

                    &:hover{
                        background-color: var(--secondary-color);
                        color: var(--primary-color);
                        font-weight: bold;
                        transform: scale(1.05);
                    }
                }

                #theme{
                    border: 1px solid var(--secondary-color);
                    border-radius: 20px;
                    font-family: var(--font-montserrat);
                    color: var(--secondary-color);
                    font-weight: bold;
                    padding: 3px;
                    background-color: transparent;
                    transition: 0.3s;

                    &:hover{
                        background-color: var(--secondary-color);
                        color: var(--primary-color);
                        font-weight: bold;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    main{
        #presentation{
            background-color: var(--secondary-color);
            .container{
                min-height: 100vh;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                place-items: center;

                .presentation-img{
                    border-radius: 20px;
                }

                .presentation-txt{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: var(--primary-color);
                    gap: 15px;

                    h1{
                        font-family: var(--font-anton);
                        font-size: 60px;
                    }

                    p{
                        font-size: 20px;
                    }

                    .btn-info{
                        text-decoration: none;
                        font-size: 20px;
                        color: var(--secondary-color);
                        background-color: var(--primary-color);
                        padding: 10px 20px;
                        border-radius: 20px;
                        transition: 0.3s;

                        &:hover{
                            filter: drop-shadow(2px 4px 6px var(--primary-color));
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
        #about{
            .container{
                min-height: 100vh;
                display: grid;
                grid-template-rows: repeat(2 1fr);
                padding: 5% 0;
                color: var(--secondary-color);

                .about-txt{
                    display: flex;
                    flex-direction: column;
                    place-items: center;
                    text-align: center;
                    margin: 0 15%;
                    gap: 10px;

                    h2{
                        font-family: var(--font-anton);
                        font-size: 40px;
                    }

                    p{
                        font-size: 20px;
                    }
                }
                
                .cards{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 20px;

                    .card{
                        background-color: var(--secondary-color);
                        border-radius: 20px;
                        transition: 0.3s;

                        .card-content{
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            padding: 5%;
                            gap: 15px;
                            color: var(--primary-color);

                            img{
                                height: 60px;
                                object-fit: contain;
                            }

                            h3{
                                font-family: var(--font-anton);
                                font-size: 22px;
                                letter-spacing: 1.5px;
                            }

                            p{
                                font-size: 16px;
                                line-height: 26px;
                                letter-spacing: 1px;
                            }
                        }

                        &:hover{
                            transform: translateY(-10px);
                            border: 3px solid var(--primary-color);
                            box-shadow: 0 8px 16px var(--secondary-color);
                        }
                    }
                }

            }
        }

        #reserve{
            background-color: var(--secondary-color);
            .container{
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                place-content: center;
                place-items: center;

                h2{
                    font-family: var(--font-anton);
                    font-size: 40px;
                    color: var(--primary-color);
                    margin-bottom: 20px;
                }

                .reserve-form{
                    display: flex;
                    flex-direction: column;
                    place-items: left;
                    width: 40%;
                    font-family: var(--font-montserrat);
                    font-size: 20px;
                    color: var(--primary-color);

                    label{
                        font-weight: bold;
                        margin-left: 3px;
                    }

                    input{
                        height: 30px;
                        font-weight: bold;
                        padding: 0 5px;
                        color: var(--primary-color);
                        border: 3px solid var(--primary-color);
                        border-radius: 5px;
                        margin-bottom: 20px;
                    }

                    .btn-reservar{
                        background-color: var(--primary-color);
                        color: var(--secondary-color);
                        font-family: var(--font-anton);
                        height: 35px;
                        border: none;
                        cursor: pointer;
                        font-size: 20px;
                        letter-spacing: 4px;
                        border-radius: 20px;
                        transition: 0.3s;

                        &:hover{
                            filter: drop-shadow(2px 4px 6px var(--primary-color));
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        place-items: center;
        padding: 10px 30px;

        p{
            font-size: 12px;
            letter-spacing: 1px;
            color: var(--secondary-color);
        }

        div{
            display: flex;
            gap: 15px;

            img{
                width: 30px;
                height: 30px;
                transition: 0.3s;

                &:hover{
                    filter: drop-shadow(3px 3px var(--secondary-color));
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media (max-width: 550px){
    body{
        header{
            .menu {
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                .menu-toggle {
                    display: block;
                    position: absolute;
                    right: 5px;
                    top: auto;
                }

                .menu-buttons {
                    display: none;
                    flex-direction: column;
                    width: 100%;
                    border-top: 2px solid var(--secondary-color);
                    padding: 15px 0;
                    text-align: center;
                    gap: 10px;
                }

                .menu-buttons.active {
                    display: flex;
                }
            }
        }
        main{
            #presentation{
                .container{
                    grid-template-columns: 1fr;
                    padding: 15% 0;
                    gap: 15px;

                    .presentation-txt{
                        h1{
                            font-size: 36px;
                        }

                        p{
                            font-size: 16px;
                        }

                        .btn-info{
                            font-size: 16px;
                        }
                    }
                }
            }
            #about{
                .container{
                    .about-txt{
                        margin: 0;

                        h2{
                            font-size: 30px;
                        }

                        p{
                            font-size: 16px;
                        }
                    }
                    .cards{
                        grid-template-columns: 1fr;
                    }
                }
            }
            #reserve{
                .container{
                    min-height: 660px;
                    padding: 0 20px;
                    width: 100%;

                    h2{
                        font-size: 30px;
                    }

                    .reserve-form{
                        width: 100%;
                        font-size: 16px;
                        align-self: flex-start;

                        input{
                            height: 40px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    
}